<div class='container'>
  <div class='about-us'>
    <h1>A bit about us!</h1>
    <hr>
    <h4>Coffee Table’s mission is to help people who want to learn from the best to have an easy way to do so. We believe for some people the best way to learn is to connect with other people. We created this community to enable the growth of motivated individuals. We are super proud of the members in our community. We hope we can be your growth partner throughout your journey.  </h4>
    <div class='socials'>
        <%= image_tag("remote.svg", class: "d-block w-100") %>
        <h2>Follow us on our social media platforms!</h2>
        <%= image_tag("aboutusemail.png", class: "d-block w-100") %>
    </div>
  </div>
</div>
