// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0069CA;
$blue-hover: #014f97;
$yellow: #FFC65A;
$orange: #FA7B5F;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
