// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #2e86ab;
$blue-hover: #21617c;
$yellow: #e0ff4f;
$yellow-hover: #abc43c;
$orange: #F97f39;
$orange-hover: #c5652e;
$light-pink: #e6e6ea;
$light-pink-hover: #a3a3a7;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;


// expertpage colours
$yellow: rgb(233, 236, 5);
$blue: #5693ad;
$light-gray: rgba(230, 230, 225, 0.164);
$orange: #F97639;
