h1 {
  text-align: center;
}
.why-expert {
  margin-top: 3%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  img {
    width: 70%;
    height: 70%;
    margin: auto;
  }
  h4 {
    font-size: 2em;
    align-self: center;
  }
  align-content: center;
}
