.switch-box {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 64px;
  font-weight: bold;
  a {
    background-color: white;
    font-size: 32px;
    color: $orange;
    padding: 16px 12px;
    text-decoration: none;
  }
  a:hover {
    background-color: rgb(218, 218, 218);
  }
  .background-blue {
    background-color: $blue;
  }
  .background-blue:hover {
    background-color: $blue;
  }
}

.dashboard-container {
  margin-bottom: 40px;
  .dashboard-banner {
    display: flex;
    background: white;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 8px;
    margin-bottom: 16px;
    // padding-bottom: 6px;
    i {
      font-size: 32px;
      margin-right: 16px;
    }
    h2 {
      color: $orange;
      font-size: 32px;
    }
  }
  .dashboard-list {
    .booking {
      display: flex;
      justify-content: space-between;
      background-color: white;
      height: 100px;
      margin-bottom: 16px;
      .booking-left {
        display: flex;
        justify-content: left;
      }
      .booking-right {
        display: flex;
        justify-content: right;
        .booking-col {
          h2 {
            margin-bottom: 0;
          }
          p {
            text-align: center;
            a {
              color: black;
              padding-bottom: 0;
              padding-top: 0;
            }
          }
          .text-small {
            font-size: 16px;
          }
        }
        .width-static {
          width: 240px;
        }
      }
      .booking-col {
        display:block;
        padding-right: 24px;
        padding-left: 8px;
        p {
          font-size: 20px;
          margin-bottom: 0;
        }
      }
      .right-border {
        border-right: 1px solid rgb(146, 146, 146);;
      }
    }
    .booking:hover {
      background-color: rgb(218, 218, 218);
    }
  }
}
