.card-profile {
  .card-infos {
    .card-body {
      width: 70%;
      h1 {
        text-align: left;
      }
    }
    .profile-img {
      img {
        object-fit:cover;
      }
    }
  }
}


.profile-stripe {
  background: #5693ad;
  padding: 5px 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-box {
  width: 50%; /* three boxes (use 25% for four, and 50% for two, etc) */
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: rgba(230, 230, 225, 0.164);
  border: #fdae37 5px solid;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

}

.cards-profile h3 {
  font-size: 20px;
}





/*table*/

.table-dark.table-bordered {
  border: #5693ad4b 5px solid;

}

.table-dark {
  margin-top: 60px;
  color: #5693ad;
  background-color: #5693ad4b;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.table-dark th, .table-dark td, .table-dark thead th {
    border-color: #5693ad4b;
}

.history-learner {
  padding-top: 48px;
  margin: 0 auto;
  align-self: center;
  h5 {
    text-align: center;
  }
}

#edit-profile-a{
  margin-top: 16px;
  a {
    border-top: 5px;
    background-color: $blue;
    color: white;
    border-radius: 3px;
    padding: 10px 10px;
    align-self: bottom;
    text-decoration: none;
    margin-right: 0;
    text-align: center;
  }
  a:hover {
    background-color: $blue-hover;
  }
}
