<h1>Book an expert</h1>

<div class="container">

  <%= month_calendar(events: @coffee_chats, attribute: :start, end_attribute: :end) do |date, coffee_chats| %>
    <%= date %>

    <% coffee_chats.each do |coffee_chat| %>
      <div class="meeting">
        <p><%= coffee_chat.topic %></p>
        <small><%= coffee_chat.time unless coffee_chat.multi_days? %></small>
      </div>
    <% end %>
  <% end %>
</div>
