<div class='footer-section'>
<div class='container'>
    <h3>JOIN OUR NEWSLETTER</h3>
    <div class='footer-content'>
      <div class='contact'>
        <h4>Contact</h4>
        <h5>coffeetable@gmail.com<br>+39 348 8273888</h5>
      </div>
      <div class='connect'>
        <h4>Connect</h4>
        <h5>LikedIn
          <br>Instagram</h5>
      </div>
      <div class='office-address'>
        <h4>Office Location</h4>
        <h5>Main Road, 57H
          <br>Netherlands</h5>
      </div>
    </div>
    <p>Legal information, legal templates and legal policies are not legal advice. Please read the disclaimer.</p>
  </div>
</div>
