<footer>
<div class='footer-section'>
<div class='container'>
    <div class='footer-content'>
      <div class='contact'>
        <h4>Contact</h4>
        <h5>coffeetable.official@coffeetable.com<br>+31 348 8273888</h5>
      </div>
      <div class='connect'>
        <h4>Connect</h4>
          <%= link_to '<i class="lni lni-linkedin-original"></i>'.html_safe, "#" %>
          <%= link_to '<i class="lni lni-instagram-filled"></i>'.html_safe, "#" %>
      </div>
      <div class='office-address'>
        <h4>Office Location</h4>
        <h5>Main Road, 57H
          <br>Netherlands</h5>
      </div>
    </div>
    <p>Legal information, legal templates and legal policies are not legal advice. Please read the disclaimer.</p>
  </div>
</div>
</footer>
