<div id="search-bar">
  <%= form_tag experts_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control col-sm-8",
      placeholder: "Space, Tourism, Biology, Social Media..."
    %>
    <%= submit_tag "Look for an expert", class: "btn btn-orange" %>
  <% end %>
</div>
