<div class="splash">
  <%= image_tag("home_background.jpg", class: "splash-image") %>
  <div class="splash-content">
    <h6 class="splash-title">Prepare to achieve your goals with our experts</h6>
    <%= render "shared/search_bar", :layout => 'vertical' %>
  </div>
  </div>
