<div class="steps-container">
  <div class="row">
    <div class="col">
      <ol>
        <li>
          <div>
            <h5>Find the best expert</h5>
            <p>Choose from over 350 online expert. Use filters to narrow your search to find the perfect fit</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Make an appointment anytime</h5>
            <p>Find the perfect time for your busy schedule. Book an appointment in seconds with the expert of choice</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Enter virtual room</h5>
            <p>When it’s time, connect with the expert through the video platform</p>
          </div>
        </li>
        <li>
          <div>
            <h5>Enjoy structured learning</h5>
            <p>Keep track on your progress and improve your skills</p>
          </div>
      </li>
    </ol>
    </div>
  </div>
</div>
