<h4 class="testimonials-title">Testimonials</h4>

<div class="row testimonial">
  <div class="col-md-12 col-lg-4 testimonial-content">
    <h4 class ="testimonial-content-title">John Watson</h4>
    <h6>I really enjoy my learning with Coffee Table. I can easily book coffee chats to talk to experts. My Spanish skill has improved significantly! I definitely recommend Coffee Table to anyone who wants to continue improving their skills.  </h6>
  </div>
  <div class="col-md-12 col-lg-8 testimonial-bubble testimonial-bubble-orange">
      <%= image_tag("testimonial3.png")%>
  </div>
</div>

<div class="row testimonial">
  <div class="col-md-12 col-lg-8 testimonial-bubble testimonial-bubble-blue">
      <%= image_tag("testimonial4.png") %>
  </div>
  <div class="col-md-12 col-lg-4 testimonial-content">
    <h4 class ="testimonial-content-title">Lucy Anderson</h4>
    <h6>I no longer have to search everywhere to find an expert to talk to! Coffee Table has made it easy for me to talk to an expert in a few clicks. I can't be happier!</h6>
  </div>
</div>
