<div class="row testimonial">
  <div class="col-sm-5 testimonial-content">
    <h2><strong>Lisa Tino</strong></h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magni dignissimos, vel quidem ullam repellat!</h4>
  </div>
  <div class="col-sm-7 testimonial-bubble testimonial-bubble-orange">
      <%= image_tag("testimonial1.png") %>
  </div>
</div>

<div class="row testimonial">
  <div class="col-sm-7 testimonial-bubble testimonial-bubble-blue">
      <%= image_tag("testimonial2.png") %>
  </div>
  <div class="col-sm-5 testimonial-content">
    <h2><strong>Lisa Tino</strong></h2>
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum magni dignissimos, vel quidem ullam repellat!</h4>
  </div>
</div>
