<div class="usps-container">
  <div class="row">
   <div class="col-sm-4">
     <div class="usp usp-orange">
       <p><strong>Find experts who know your topics</strong></p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="usp usp-pink">
       <p><strong>Easy to book!</strong></p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="usp usp-purple">
       <p><strong>Talk to an expert from anywhere</strong></p>
     </div>
   </div>
  </div>
</div>
