<div class="usps-container">
  <h4>Why people love Coffee Table</h4>
  <div class="row">
   <div class="col-sm-4">
     <div class="usp usp-orange">
       <p><strong>Find experts who know your topics easily</strong></p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="usp usp-blue">
       <p><strong>Book coffee chats in simple steps</strong></p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="usp usp-yellow">
       <p><strong>Talk to experts from anywhere</strong></p>
     </div>
   </div>
  </div>
</div>
