<div class="usps-container">
  <h4>Why people love Coffee Table</h4>
  <div class="row">
   <div class="col-sm-4">
     <div class="usp usp-orange">
       <p>Find experts who know your topics easily</p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="usp usp-blue">
       <p>Book coffee chats in simple steps</p>
     </div>
   </div>
   <div class="col-sm-4">
     <div class="usp usp-yellow">
       <p>Talk to experts from anywhere</p>
     </div>
   </div>
  </div>
</div>
