<div class='container'>
  <div class='about-us'>
    <h1>A bit about us!</h1>
    <hr>
    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi nulla enim, vitae illo nam cum, laborum itaque voluptate nesciunt dolores ea, accusamus ipsam rem ab molestiae. Soluta ab repellendus laborum.</h4>
    <div class='socials'>
        <img src="assets/socialmedia.svg" >
        <div class='links'>
          <a href="#"><img src="assets/facebook.webp" >@coffeetable</a><br>
          <a href="#"><img src="assets/facebook.webp" >@coffeetable</a><br>
          <a href="#"><img src="assets/facebook.webp" >@coffeetable</a>
        </div>
    </div>
  </div>
</div>
