<div class='container'>
  <div class='about-us'>
    <h1>A bit about us!</h1>
    <hr>
    <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi nulla enim, vitae illo nam cum, laborum itaque voluptate nesciunt dolores ea, accusamus ipsam rem ab molestiae. Soluta ab repellendus laborum.</h4>
    <div class='socials'>
        <%= image_tag("socialmedia.svg", class: "d-block w-100") %>
        <div class='links'>
          <a href="#"><%= image_tag("facebook.webp", class: "d-block w-100") %>@coffeetable</a><br>
          <a href="#"><%= image_tag("facebook.webp", class: "d-block w-100") %>@coffeetable</a><br>
          <a href="#"><%= image_tag("facebook.webp", class: "d-block w-100") %>@coffeetable</a>
        </div>
    </div>
  </div>
</div>
