<div class='container'>
  <h1>Become an expert</h1>
  <hr>
  <div class='content'>
    <div class='why-expert'>
      <h4>“A big importance of knowledge sharing in the workplace is that all employees have access to information.”</h4>
      <%= image_tag("expert1.svg") %>
    </div>
  </div>
</div>
