<div class="container">
<div class="content">
  <div class="banner">
    <h1><b><center>Coffee Table</center></b></h1>
  </div>
<div class="container"><center>Search Box Placeholder</center></div>
<%# <%= render "shared/searchbox" %>
<br>
<br>
<br>
<br>
<br>
<div class="banner">
    <h4><center>Focus on the skills you need</center></h4>
    <p><center>Prepare to achieve your goals with our experts</center></p>
  </div>

<div id="grid">
  <div class="btn-group">
</div>


<div class="usp">
</div>


<div class="steps">
</div>


<div class="testimonial">
</div>
