<div class="container">
  <div class="banner">
    <h1><strong>Coffee Table</strong></b></h1>
  </div>

  <div class="wrapper">
    <img src="assets/Home.png" class="d-block w-100" alt="hero">
      <div class="search-wrapper">
        <%# <div class="text-block">
          <pre><h6>Type here for your topics of interest!</h6></pre>
        </div> %>
        <%= render "shared/search_bar" %>
      </div>
  </div>
<br>
<div class="banner">
    <h4><strong>Focus on the skills you need</strong></h4>
    <h6>Prepare to achieve your goals with our experts</h6>
  </div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
    </div>
     <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
     </div>
     <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
    </div>
     <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
    </div>
     <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
     </div>
     <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
    </div>
     <div class="col">
      <div class="topic-container">
        <img src="assets/rails.png" class="icon" alt="rails"><br>
        <h6>Learn Rails</h6><br>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
      </div>
    </div>
  </div>
</div>
<br><br>
 <div class="row">
  <div class="col">
    <div class="usp">
      <p>Easy to Book!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
    </div>
  </div>
  <div class="col">
    <div class="usp">
      <p>Easy to Book!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
    </div>
  </div>
  <div class="col">
    <div class="usp">
      <p>Easy to Book!</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, esse.</p>
    </div>
   </div>








<div class="step">
</div>


<div class="testimonial">
</div>

</div>
</div>
