<div class='container'>
  <div class='profile-section'>
    <div class='profile'>
      <h1>Profile</h1><br><br>
      <img src="assets/default-user.png" class="icon" alt="rails">
      <h4>Name</h4>
      <h5>Location</h5>
      <br>
      <br>
      <h4>Learning <strong>JavaScript, Phyton</strong></h4>
      <h4>Expert in <strong>Dutch, English</strong></h4>
      <br><br>
      <h4>Rating <strong>4.5</strong> out of 10 based on <strong> 12 reviews</strong></h4>
      <br><br>
      <br>
      <h5>Member since 2020</h5>
    </div>

    <div class='badges'>
      <h1>Badges achieved</h1>
    </div>

    <div class='badges'>
      <h1>Activities</h1>
      <table class="activities-table">
        <thead>
          <tr>
          <th></th>
          <th>Last 30 days</th>
          <th>Last 90 days</th>
          <th>All time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Completed <br>
            Coffee Chats - Learner</td>
            <td>5</td>
            <td>10</td>
            <td>15</td>
          </tr>
          <tr>
            <td>Completed <br>
            Coffee Chats - Expert</td>
            <td>15</td>
            <td>18</td>
            <td>30</td>
          </tr>
          <tr>
            <td>Attendance</td>
            <td>100%</td>
            <td>98%</td>
            <td>95%</td>
          </tr>
        </tbody>
        </table>
    </div>
  </div>
</div>
