.simple-calendar {
  table {
    min-height: 80vh;
    background-color: white;
  }
  .today {
    background-color: #FAF3DD;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #5b62be;
  transition: background 0.3s ease;
}

.meeting:hover {
  background: #6eaee2;
  color: white;
}
