
.simple-calendar {
  width: 100%;
  height: 60%;

  .day {
    height: 30px;
  }
  table {
    height: 50px;
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
  }
  .today {
    background-color: #5693ad;
  }
}

.meeting {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #8bc0d6;
  transition: background 0.3s ease;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  font-size: 70%;

}

.meeting:hover {
  background: rgba(232, 236, 5, 0.26);
  color: #5693ad;
}

.btn-outline-primary {
    color: #5693ad;
    border-color: #5693ad;
}

.btn-outline-primary:hover {
  border-color: rgb(233, 236, 5);
  color: white;
  background-color: #5693ad;
}

.btn-primary:hover {
    color: #fff;
    background-color: #5693ad;
    border-color: #7094a3;
}

.btn-primary {
    color: #fff;
    background-color: #5693ad;
    border-color: #5693ad;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

.simple-calendar .prev-month {
    background: rgb(252, 252, 252);
}

.simple-calendar .next-month {
    background: rgb(252, 252, 252);
}

.simple-calendar td {
    padding: 6px;
    vertical-align: top;
    width: 14%;
    border: 1px solid rgb(233, 236, 5);
    border-top-color: rgb(233, 236, 5);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(233, 236, 5);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(233, 236, 5);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(233, 236, 5);
    border-left-style: solid;
    border-left-width: 1px;
}

.card-body {
  padding-bottom: 0px;
}

.expert-card{
  width: 900px;
  background-color: white;
}

.card-expert-description {
  margin: 20px auto;
  background-color: white;
  box-shadow: 0px  5px 10px rgb(36, 36, 37)
}

//example below

.card-trip {
  background: rgba(241, 238, 238, 0.918);
  width: 600px;
  margin: 32px auto;
}

.card-trip-footer {
  padding: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
}

.my_class {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  margin: 0;
  font-size: 20px;
}

.card-trip p {
  margin: 0;
  font-size: 16px;
}
