.footer-section {
  background-color: rgb(255, 255, 255);
  margin-top: 4%;
  margin-bottom: 0%;
  color: rgb(0, 0, 0);
  text-align: center;
  box-shadow: 10px 1px 20px -2px rgb(255, 134, 20);

  position:absolute;
   bottom:0;
   width: 100%;
  .footer-content {
    display: grid;
    margin-top: 4%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  h4 {
    font-weight: 600;
  }
  p {
    margin-top: 2%;
    color: gray;
  }
}
