#search-bar {
  width: 1000px;
  margin: 0 auto;
  form {
    display: flex;
    justify-content: space-between;
    .form-control {
      border-color: #0069CA;
    }
    .btn-orange {
        background-color: #FA7B5F;
        color: #ffffff;
    }
    .btn-orange:hover {
      background-color: #ce654e;
    }
  }
}
