// // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";


// Your CSS partials
@import "components/index";
@import "pages/index";


body {
  color: black;
  background-color: white;
}

h1 {
  color: #FA7B5F
}


.container {
  align-items: center;
}

.banner {
  text-align: center;
}

.text-block {
  text-align: left;
  margin: 10px;
}


.wrapper {
  position: relative;
  display: flex;
  justify-content: center;
}

.search-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.search-wrapper input {
  width: 80%;
}

.topic-container {
  text-align: center;
  border-style: solid;
  border-width: thin;
  border-color: #FA7B5F;
}

.topic-description {
  font-size: 6;
  inline-size: 150px;
  text-align: center;
  align-items: center;
}

.p {
  font-size: 4;
}

.icon {
  width:30%;
  height:30%;
}

.usp {
  text-align: center;
  inline-size: 200px;
  border-style: solid;
  border-width: thin;
  border-color: grey;
  border-radius: 15px;

}

.learn-more {
  border-radius: 25px;
  background-color: black;
  color: white;
  height: 60px;
  width: 130px;
}
