// // Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "simple_calendar";


// Your CSS partials
@import "components/index";
@import "pages/index";

@import "flatpickr";

@import "flatpickr/themes/dark";

body {
  color: black;
  background-color: white;
  #min-height {
    min-height: 300px;
  }
}

h1 {
  color: $orange;
}


.container {
  align-items: center;
}

.banner {
  text-align: center;
}

.search-container {
  height: 100%;
  width: 50%;

}

.split {
  height: 30%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: $light-pink;
}

.right {
  right: 0;
  background-color: #ffffff;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.text-block {
  text-align: left;
  margin: 10px;
}

.p {
  font-size: 4;
}

.learn-more {
  border-radius: 25px;
  background-color: black;
  color: white;
  height: 60px;
  width: 130px;
}
